@use 'variaveis';
@use 'hero';
@use 'shows';
@use 'plans';

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 7s00;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
}

body {
    background-color: variaveis.$bgColor;
}

@mixin text($fontSize: 16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$MainTextColor;
}

@mixin title($fontSize: 28px){
    @include text($fontSize);
    color: variaveis.$SecTextColor;
}

.text--big {
    @include text(18px);
}

.text {
    @include text;
}

.text--small {
    @include text(12px);
}

.link-text {
    @include text(18px);
    color: variaveis.$SecTextColor;
    text-decoration: underline;
}

.title--big {
    @include title(44px);
}

.title {
    @include title;
}

.title--small {
    @include title(28px);
}

.button {   
    display: block;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: variaveis.$SecTextColor;
    background-color: #6421ff;
    text-transform: uppercase;
    border-radius: 4px;
    margin-top: 2vw;
    margin-bottom: 8px;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: #8551fd;
        transition: all 0.2s ease-in-out;
    }
}